<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <h2 class="mb-4">Member Details</h2>
        <button class="btn mb-1 btn-primary fw-bold" routerLink="/member">BACK</button>
    </div>

    <div class="card text-dark bg-light mb-3">
        <div class="card-body row g-3 fadeInAnimation">
      
          <!-- Memebership Number Card -->
    <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title fw-bold">Membership Number</h5>
            <p class="card-text fs-5"><span class="mb-2" style="color: rgb(142, 141, 141);"> Code-123</span></p>
          </div>
        </div>
      </div>
  
      <!-- Name Card -->
      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title fw-bold">Name</h5>
            <p class="card-text fs-5"><i class="bi bi-calendar fs-6 me-2 text-primary"></i><span class="mb-2" style="color: rgb(142, 141, 141);"> Abdelmajid</span></p>
          </div>
        </div>
      </div>
  
      <!-- Last Name Card -->
      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title fw-bold">Last Name</h5>
            <p class="card-text fs-5"><i class="bi bi-clock fs-6 me-2 text-primary"></i><span class="mb-2" style="color: rgb(142, 141, 141);"> ELOUSSE</span></p>
          </div>
        </div>
      </div>
      
          <!-- Nationality Card -->
          <div class="col-md-4">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title fw-bold">End Time</h5>
              <p class="card-text fs-5"><i class="bi bi-clock fs-6 me-2 text-primary"></i><span class="mb-2" style="color: rgb(142, 141, 141);"> 4:00 PM</span></p>
            </div>
          </div>
        </div>
      
          <!-- Identity Number Card -->
          <div class="col-md-4">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title fw-bold">Location</h5>
              <p class="card-text fs-5"><i class="bi bi-geo-alt fs-6 me-2 text-primary"></i><span class="mb-2" style="color: rgb(142, 141, 141);"> Agadir</span></p>
            </div>
          </div>
         </div>
      
          <!-- Identity Document Type Card -->
          <div class="col-md-4">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title fw-bold">Total Participants</h5>
              <p class="card-text fs-5"><i class="bi bi-person fs-6 me-2 text-primary"></i><span class="mb-2" style="color: rgb(142, 141, 141);"> 100</span></p>
            </div>
          </div>
          </div>
        </div>
      </div>
      
</div>