<div class="boody">
    <div class="podium">
        <div class="podium-level-2">
            <div class="winner animate">
                <div class="place h1">🥈</div>
                <div class="name">{{ secondPlace.member.name }} {{ secondPlace.member.familyName }}</div>
                <div class="score">Score: {{ secondPlace.score }}</div>
            </div>
        </div>
        <div class="podium-level-1">
            <div class="winner animate">
                <div class="place h1">🥇</div>
                <div class="name">{{ firstPlace.member.name }} {{ firstPlace.member.familyName }}</div>
                <div class="score">Score: {{ firstPlace.score }}</div>
            </div>
        </div>
        <div class="podium-level-3">
            <div class="winner animate">
                <div class="place h1">🥉</div>
                <div class="name">{{ thirdPlace.member.name }} {{ thirdPlace.member.familyName }}</div>
                <div class="score">Score: {{ thirdPlace.score }}</div>
            </div>
        </div>
    </div>
</div>
